<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Snare drum with _id: <%=foundSnare._id%></h1>

    <form action="/products/<%=foundSnare.id%>?_method=PUT" method="POST">
        <label for="manufacturer">Manufacture</label>
        <input type="text" name="manufacturer" id="manufacturer" value="<%=foundSnare.manufacturer%>">

        <label for="material">Material</label>
        <input type="text" name="material" id="material" value="<%=foundSnare.material%>">

        <label for="diameter">Diameter</label>
        <select name="diameter" id="diameter">
            <% for(let dia of schemaObj.diameter.enum){ %>
                <option value="<%=dia%>"<%= foundSnare.diameter === dia ? 'selected': '' %>><%=dia%></option>
                <% } %>
        </select>

        <label for="depth">Depth</label>
        <select name="depth" id="depth">
            <% for(let depth of schemaObj.depth.enum){ %>
                <option value="<%=depth%>"<%= foundSnare.depth === depth ? 'selected': '' %>><%=depth%></option>
                <% } %>
        </select>

        <label for="catergory1">Catergory 1</label>
        <input type="text" name="catergory1" id="catergory1" value="<%=foundSnare.categories[0]%>">
        <label for="catergory2">Catergory 2</label>
        <input type="text" name="catergory2" id="catergory2" value="<%=foundSnare.categories[1]%>">

        <label for="qtyInStore">Instore Qty</label>
        <input type="text" name="qtyInStore" id="qtyInStore" value="<%=foundSnare.quantity.instore%>">
        <label for="qtyOnLine">Online Qty</label>
        <input type="text" name="qtyOnLine" id="qtyOnLine" value="<%=foundSnare.quantity.online%>">

        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="<%=foundSnare.price%>">

        <button>Submit</button>
    </form>

</body>
</html>